/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2015, 9:34:04 PM
    Author     : Tranny
*/

.reservationbutton{
    -fx-background-image: url(bediconeditedv2.png);
    -fx-background-size: 100% 100%;
}

.reservationbutton:hover{
    -fx-background-image: url(reservationhovericon.png);
    -fx-background-size: 100% 100%;
}

.roombutton{
    -fx-background-image: url(roomiconedited.png);
    -fx-background-size: 100% 100%;
}

.roombutton:hover{
    -fx-background-image: url(roomhovericon.png);
    -fx-background-size: 100% 100%;
}

.purchasesbutton{
    -fx-background-image: url(purchaseiconedited.png);
    -fx-background-size: 100% 100%;
}

.purchasesbutton:hover{
    -fx-background-image: url(purchasehovericon.png);
    -fx-background-size: 100% 100%;
}

.staffbutton{
    -fx-background-image: url(stafficonv2edited.png);
    -fx-background-size: 100% 100%;
}

.staffbutton:hover{
    -fx-background-image: url(staffhovericon.png);
    -fx-background-size: 100% 100%;
}

.customerbutton{
    -fx-background-image: url(Customereditedv2.png);
    -fx-background-size: 100% 100%;
}

.customerbutton:hover{
    -fx-background-image: url(Customerhovericon.png);
    -fx-background-size: 100% 100%;
}    
    
.businesslabel {
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.6;
}

.panebackground{
    -fx-background-color: #1abc9c;
}

.logoutbutton{
    -fx-background-image: url(logouticon.png);
    -fx-background-size: 100% 100%;
}

.logoutbutton:hover{
    -fx-background-image: url(logouthovericon.png);
    -fx-background-size: 100% 100%;
}

.logopane{
    -fx-background-image: url(erlogo.jpg);
    -fx-background-size: 100% 100%;
}

.rootanchorcolor{
    -fx-background-color: #ecf0f1;
}

.topimage {
    -fx-background-image: url(topimageicon.png);
    -fx-background-size: 100% 100%;
}
